[data-module="Complete"] {
  display: inline-block;
  position: relative;
}

[data-module="Complete"] [data-name="results"] {
  margin: 0;
  padding: 0;
}

[data-module="Complete"] [data-name="results"] li {
  cursor: pointer;
  padding: 5px;
}

[data-module="Complete"] [data-name="results"] li:hover {
  background-color: #ccc;
}
